<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
    body{
        background-color: aqua;
        }
     #qw{
    height :40px;
    width :200px;

    }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<u>
    <h1 align="center"> <font size="7" color="red">Seller <font color="black"> Registration</font> Form</font> </h1>
</u>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table height="900px" lenght="100px">
            <tr>
                <th><label><font size="5" color="red"> First Name</font></label></th>
                <td><input type="text" name="fname"> </td>
            </tr>

            <tr>
                <th><label><font size="5" color="red">Last Name</font></label></th>
                <td><input type="text" name="lname">(Max 50 Charecters Allowed)</td>

            </tr>
            <tr>
                <th><label><font size="5" color="red"> User Name</font></label></th>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <th><label><font size="5" color="red">E-Mail</font></label></th>
                <td><input type="email" name="email"></td>
            </tr>
             <tr>
                <th><label><font size="5" color="red"> Phone Number</font></label></th>
                <td><input type="number" name="phone"></td>
            </tr>
            <tr>
                <th><label><font size="5" color="red"> Gender</font></label></th>
                <td><input type="radio" name="gender">Female
                <input type="radio" name="gender">Male
                <input type="radio" name="gender">Other</td>

            </tr>
            <tr>
                <th><label><font size="5" color="red"> Date Of Birth(DOB)</font></label></th>
                <td><input type="date" name="dob"></td>
            </tr>
            <tr>
                <th><label><font size="5" color="red"> Company Address</font></label></th>
                <td><textarea name="address" rows="6" cols="20"></textarea></td>
            </tr>
           <tr>
                <th><label><font size="5" color="red"> Company details</font></label></th>
                <td><textarea name="detaddress" rows="6" cols="20"></textarea></td>
            </tr>

            <tr>
                <th><label><font size="5" color="red"> Password</font></label></th>
                <td><input type="text" name="password"></td>
            </tr>
             <tr>
                <th><label><font size="5" color="red"> Confirm Password</font></label></th>
                <td><input type="text" name="cpassword"></td>
            </tr>
            <tr>
                <th><label><font size="5" color="red"> Update your profile picture</font></label></th>
                <td><input type="file" name="fiimg"></td>
            </tr>








        </table>
         <p align="center"><input type="SUBMIT" id="qw">


    </form>




</body>
</html>